@model Courier.Models.ViewModels.LocationV
@{
    ViewBag.Title = "Invoice";


}
@using Courier.Models.DbModel;
@Html.Partial("_ClientHeader")
<div class="container">
    <div class="row">
        <!--
          <div class="reciept">
              <h2>
                  Transaction Invoice for <strong>@ViewBag.PackageName</strong>   <span class="staus pull-right">
                      @*@if (ViewBag.RecID == "PAID")
                          {
                              <span class="text-success">@ViewBag.RecID</span>
                          }
                          else
                          {
                              <span class="text-danger">@ViewBag.RecID</span>

                          }*@
                      #  @ViewBag.OrderID

                  </span>
              </h2>
              <hr />
              <ul class="list-group">
                  <li class="list-group-item">
                      Tracking NO: @ViewBag.track
                  </li>
                  <li class="list-group-item">Source Location  @ViewBag.sou</li>
                  <li class="list-group-item">Destination Location @ViewBag.des</li>
                  <li class="list-group-item"><strong>Amount @ViewBag.Amount</strong></li>

              </ul>
              @DateTime.UtcNow
          </div>
    -->
        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
                                    <h1> Courierla</h1>
                                </td>

                                <td>
                                    Order #: @ViewBag.OrderID<br>
                                    Invoice #:  @ViewBag.RecID<br>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    @ViewBag.PackageName<br>
                                    From: @ViewBag.des<br>
                                    To: @ViewBag.sou
                                </td>

                                <td>
                                    Tracking No: @ViewBag.track
                                    <br />
                                   
                                    @*<h3 class="label label-info">@ViewBag.RecID</h3>*@
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr class="heading">
                    <td>
                        Order
                    </td>

                    <td>
                        Price
                    </td>
                </tr>
                <tr>
                    <td>
                        Shipping Overall Cost
                    </td>

                    <td>
                        @ViewBag.Amount
                    </td>
                </tr>


                <tr class="total">
                    <td></td>

                    <td>
                        Total: @ViewBag.Amount
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>


@section Css{
    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

   media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    </style>
}